*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.clear{
    clear: both;
}

/* colums section */
.col1{
    width: 8.33%;
}

.col2{
    width: 16.66%;
}

.col3{
    width: 25%;
}

.col4{
    width: 33.33%;
}

.col5{
    width: 41.66%;
}

.col6{
    width: 50%;
}

.col7{
    width: 58.33%;
}

.col8{
    width: 66.66%;
}

.col9{
    width: 75%;
}

.col10{
    width: 83.33%;
}

.col11{
    width: 91.66%;
}

.col12{
    width: 100%;
}

/* header section */
header{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

/* 1 */
header .container{
    width: 50%;
   display: flex;              
    align-items: center;        
    gap: 20px; 
}

header .logo img{
    width: 40px;
    margin-left: 25px;
    border-radius: 50%;
    align-items: center;
    
}

header .menu{
    margin: 10px;
    align-items: center;

}

header .menu ul{
    list-style: none;
    display: flex;
    /* align-items: center; */
    padding: 0;
    margin: 0;
}

header .menu ul li{
    margin-right: 30px;
    display: flex;
    align-items: center;
    
}

header .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
    
}

/* 2 */
 .menu1{
    width: 50%;
    margin-left: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.menu1 h3 {
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;
    display: flex;
}

.menu .fa-solid{
    display: flex;
}

.btn{
    padding: 10px 20px;
    margin: 10px;
    font-size: 10px;
    border-radius: 20px;
    background-color: white;
    /* cursor: pointer; */
}

.btn1{
    margin: 10px;
    background-color: black;
    color:aliceblue;
    border-radius: 20px;
}

/* hero section */
.hero{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(50, 70, 47);
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.content{
    padding-right: 10px;
}

.button{
    border: 2px solid white;
    border-radius: 20px;
    size: 30px;
    padding: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}


/* grads section */
 .grades{
    display: flex;
    align-items: center;
    justify-content: center;
   margin:  30px 0px;
   background-color: #006242;
   display: flex;
    align-items: flex-start;
}

.img1 img{
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;

}

.grade{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
}

.grade h2 {
    font-size: 20px;
    padding-bottom: 12px;
    color: white;
}

.grade p{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0px;
    color: white;
}

.button1{
    border: 2px solid white;
    border-radius: 20px;
    size: 30px;
    padding: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    background-color: #006242;
    color: white;
}

/* summer menu */
.summer{
    display: flex;
    align-items: center;
    justify-content: center;
   margin:  30px 0px;
   background-color: #006242;
   display: flex;
    align-items: flex-start;
}

.summer1{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
}

.summer1 h2 {
    font-size: 20px;
    padding-bottom: 12px;
    color: white;
}

.summer1 p{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0px;
    color: white;
}

.button1{
    border: 2px solid white;
    border-radius: 20px;
    size: 30px;
    padding: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    background-color: #006242;
    color: white;
}

.img2 img{
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;

}

/* order */
 .orders{
    display: flex;
    align-items: center;
    justify-content: center;
   margin:  30px 0px;
   background-color: #006242;
   display: flex;
    align-items: flex-start;
}

.img3 img{
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;

}

.order{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
}

.order h2 {
    font-size: 20px;
    padding-bottom: 12px;
    color: white;
}

.order p{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0px;
    color: white;
}

.button1{
    border: 2px solid white;
    border-radius: 20px;
    size: 30px;
    padding: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    background-color: #006242;
    color: white;
}
